* {
    /* outline: 1px dotted red; */
}

.container {
    width: 970px;
    background: #f2f2f2;
}
.header h1 {
    display:inline-block;
    padding-left: 10px;
    font-family: "Comic Sans MS";
}
.header h2 {
    display:inline-block;
    margin-left: 400px;
}
.body {
    background-image: linear-gradient(#1d0d10, #6e5963, #1c0b0f);
    padding: 20px;
}
.body-top {
    min-height: 200px;
}
.body-top img {
    height: 270px;
    padding: 5px;
    display: inline-block;
    background-color: #bab2b5;
    vertical-align: top;
}
.about {
    display: inline-block;
    width: 475px;
    height: 260px;
    background-color: #ede7ed;
    margin-left: 10px;
    padding: 10px
}

.body h2 {
    color: white;
    margin: 0px;
    vertical-align: top;
    padding: 5px 5px 5px 10px;
    background-image: linear-gradient(#acabb0, #8d8b98, #acabb0);
    }
.body h3 {
    color: white;
    margin: 0px;
    padding: 5px;
    background-image: linear-gradient(#acabb0, #8d8b98, #acabb0);
}
.body-center {
    min-height: 400px;
    padding-top: 10px;
}
.body-center p {
    margin: 10px;
}
.body-center img {
    width: 35px;
    padding: 6px;
}
.body-center button {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #407d60;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    border: 1px solid black;
    padding: 5px;
}
.col1 {
    display: inline-block;
    width: 295px;
    background-color: #ede7ed;
    height: 575px;
    margin: 10px 10px 10px 0px;
    vertical-align: top;
}
.col2 {
    display: inline-block;
    width: 292px;
    background-color: #ede7ed;
    height: 575px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
}
.col3 {
    display: inline-block;
    width: 295px;
    background-color: #ede7ed;
    height: 575px;
    margin: 10px 0px 10px 10px;
    vertical-align: top;
}
.top-half {
    min-height: 390px
}
#pic1 {
    width: 285px;
}
#pic2 {
    width: 285px;
}
#pic3 {
    width: 285px;
}

.footer {
    min-height: 100px;
    text-align: center;
}
.footer img {
    width: 10px;
    height: 10px;
}
.footer a {
    font-style: italic;
}
